body {
  font-family: "Georgia", "Times New Roman", serif;
  color: black;
  background: white;
  line-height: 1.5;
}

h1 {
  letter-spacing: 0.5px;
}

#age {
  color: red;
  text-align: center;
  font-weight: 600;
}

.increment {
    font-size: x-large;
    display: block;
    margin: 12px auto;
}

.decrement {
    font-size: x-small;
    display: block;
    margin: 12px auto;
}

.age {

}
